// шрифты
Regular = 'Proxima regular', Arial, Tahoma, Verdana, sans-serif;
Semibold = 'Proxima semibold', Arial, Tahoma, Verdana, sans-serif;
Bold = 'Proxima bold', Arial, Tahoma, Verdana, sans-serif;
BoldBlack = 'Proxima black', Arial, Tahoma, Verdana, sans-serif;
Light = 'Proxima light', Arial, Tahoma, Verdana, sans-serif;


footerHeight = 214px

// цвета
gray = #898989
textColor = #000
lightGray = gray
darkGray = #363636
placeholderColor = #ccc;


// основные размеры текста
basefont = 13px;
smallfont = 11px;
bigfont = 16px;

x-baseline = floor(basefont * 1.53); // золотое сечение, ептить

// задаем цвет ссылок
linkColor = #4ea5e9;
linkColorHover = darken(linkColor, 15);
linkColorActive = black;
linkColorVisited = linkColor;

// фоновые цвета
bgColor = #ececec;
selectionColor = red;


// настройки форм
form-bgc = white;
form-bdc = gray;
form-c = textColor;
form-focus = #ee5f5b;