html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

body {
  font: basefont Regular;
  color: textColor;
  background: bgColor;
  line-height: 1.6;
  position: relative;
  word-wrap: break-word;
  select-color: selectionColor
}

.wrapper {
  position: relative;
  height: auto;
  min-height: 100%;
  margin-bottom: footerHeight * -1;
}

.container {
  min-width: 940px;
  max-width: 1440px;

  clear: fix;
  margin-left: auto;
  margin-right: auto;
}